@import '../../styles/breakpoints.scss';

.storiesWrapper {
  margin-top: 1.23rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    cursor: pointer;

    &:last-child {
      margin-left: 1.23rem;
    }
  }

  .storySection {
    margin-left: 1.23rem !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .story {
      margin-left: 1.23rem;

      img {
        border-radius: 50%;
        width: 4.5rem;
        border: 3px solid #ee145b !important;
      }
    }

    .createStory {
      position: relative !important;
      cursor: pointer;

      img {
        border-radius: 50%;
        width: 4.5rem;
      }

      &::after {
        content: "+";
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        background-color: #ee145b;
        border: 3px solid white;
        border-radius: 50%;
        bottom: -0.2rem;
        right: -0.2rem;
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 1.2rem;
      }
    }
  }
}

@include md {
  .storiesWrapper {
    margin: 1.23rem 1rem;

    svg {
      display: none;
    }
  
    .storySection {
      margin-right: 1.23rem !important;
    
      .createStory::after {
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}