@import '../../styles/breakpoints.scss';

.menuWrapper {
  display: none;
  position: absolute;
  right: -1rem;
  top: 4.2rem;
  border: 2px solid #b1bbd8;
  border-radius: 14px;
  background: white;
  padding: 1.23rem;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1.8rem;
    right: 1.60rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #b1bbd8 transparent;
    border-width: 12px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -1.44rem;
    right: 1.75rem;
    width: 0;
    height: 0;
    border-style: solid;

    border-color: transparent transparent white transparent;
    border-width: 10px;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;


    &.activeMenu {
      color: #ee145b;
      svg {
        color: #ee145b;
      }
    }

    svg {
      margin-right: 1.23rem;
    }

    & + li {
      padding-top: 1rem;
    }
  }
}

.menuInput {
  display: none;

  &:checked {
    + .menuWrapper {
      display: block;
    }
  }
}

@include lg{
  .menuWrapper{
    top: 4.6rem;
    right: -1rem;
    width: 15rem;

    &::after{
      top: -1.63rem;
      right: 1.76rem;
    }

    &::before{
      top: -1.97rem;
    }
  }
}

@include md {
  .menuWrapper{
    top: 4.4rem;

    &::after{
      top: -1.53rem;
    }

    &::before{
      top: -1.87rem;
    }
  }
}