@import '../../styles/breakpoints.scss';

.headerWrapper {
  padding: 0.7rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 4px solid #ee145b;
  align-items: center;
  margin-bottom: 1.23rem;

  img {
    cursor: pointer;
  }
}

.userInformations {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    font-size: 1.8rem;
    cursor: pointer;
  }

  span {
    margin: 0 0.9rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  img {
    border-radius: 50%;
    cursor: pointer;
  }
}

@include md {
  .headerWrapper {
    justify-content: space-between;
    padding-left: 1.23rem;
    padding-right: 1.23rem;
  }
}