@import '../../styles/breakpoints.scss';

.timelineWrapper {
  max-width: 681px;
  margin: 0 auto;
  margin-top: 1.23rem;
  
  .postImage {
    width: 250px !important;
    
    border-radius: 14px;
  }

  .postInformationWrapper{
    margin: 0.5rem 0 3rem 0;
    
    .postEngagementWrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.23rem;

      .postEngagement{
        display: flex;

        button{
          padding: 0.4rem 0.7rem;
          border-radius: 14px;
          background-color: #515965;
          border: 0;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.15rem;

          svg{
            margin-right: 0.5rem;
          }

          & + button{
            margin-left: 0.9rem;
          }
        }
      }

      .postActions button{
        padding: 0.4rem 0.7rem;
        border-radius: 14px;
        background-color: #515965;
        border: 0;

        svg{
          font-size: 1.6rem !important;
          color: white;
        }

        & + button{
          margin-left: 0.9rem;
        }
      }
    }

    .modelInformationWrapper{
      display: flex;

      .modelAvatar{
        border-radius: 50%;
      }

      button{
        background-color: #ee145b;
        border: 0;
        border-radius: 14px;
        padding: 0 1.3rem;
        color: white;
        font-weight: 800;
        font-size: 1.1rem;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
      }

      .modelBioWrapper{
        display: flex;
        flex-direction: column;
        margin-left: 1.23rem;
        align-self: center;

        svg{
          margin-left: 0.5rem;
        }

        strong{
          font-size: 1.4rem;
        }

        p{
          max-width: calc(681px - 16rem);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.2rem;
        }
      }
    }
  }
}


@include md {
  .timelineWrapper{
    max-width: 90vw;
    margin: 1.23rem 2rem;
  }

  .modelBioWrapper{
    margin-left: 1.23rem;
  }

  .modelBioWrapper > p{
    max-width: 57vw !important;
  }
}

@include sm {
  .modelBioWrapper svg,
  .modelAvatar{
    display: none !important;
  }

  .modelBioWrapper{
    margin-left: 0 !important;
    justify-self: left;
  }

  .postEngagement button{
    font-size: 1rem !important;
    
    & + button{
      margin-left: 0.2rem !important;
    }
  }

  .postActions button{
    & + button{
      margin-left: 0.2rem !important;
    }
  }
}

@include rwd(400) {
  .modelBioWrapper > p{
    max-width: 48vw !important;
  }
}